.checkbox {
  position: relative;
  width: fit-content;

  &.strikethrough {
    background-image: url('~src/assets/linethrough.png');
    background-repeat: no-repeat;
    background-size: 100% 0.35em;
    background-position-y: center;
  }

  .box {
    width: 1em;
    height: 1em;
  }
}