<div class="row">
  <div class="col-lg-12 col-xl-6 mb-4">
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <h3 class="card-title mb-0">Evidence</h3>
          <div class="mx-2">
            <span class="clickable m-1" (click)="showConfig = !showConfig">
              <img class="config-icon" src="assets/cog.png" height="24px" />
            </span>
          </div>
          <div class="mx-2 ms-auto">
            <span class="clickable m-1" (click)="reset()">
              <img class="reset-icon" src="assets/rotate.png" height="24px" />
            </span>
          </div>
        </div>
        <hr />
        <ng-container *ngIf="showConfig">
          <div class="row">
            <div class="col">
              <app-tag-selector
                [group]="evidenceConfig"
                [states]="config"
                (statesChange)="update({})"
              ></app-tag-selector>
            </div>
          </div>
          <hr />
        </ng-container>
        <app-tag-selector
          col="col col-6"
          [group]="evidence"
          [states]="states"
          [disabled]="disabled"
          (statesChange)="update($event)"
        ></app-tag-selector>
        <hr />
        <app-tag-selector
          col="col col-4"
          [group]="ghosts"
          [states]="states"
          [disabled]="disabled"
          (statesChange)="update($event)"
        ></app-tag-selector>
      </div>
    </div>
  </div>

  <div class="col col-lg-12 col-xl-6 mb-4">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Behavior</h3>
        <hr />
        <div class="row" *ngFor="let sel of selectors">
          <div class="col-3 fw-bold">{{ sel.name }}</div>
          <div class="col-9">
            <app-tag-selector
              [group]="sel"
              [states]="states"
              [disabled]="disabled"
              (statesChange)="update($event)"
            ></app-tag-selector>
          </div>
        </div>
        <ng-container *ngIf="showHints">
          <hr />
          <div class="row" *ngFor="let hint of hints | keyvalue">
            <div class="col-3 fw-bold">
              <strong>{{ hint.key }}</strong>
            </div>
            <div class="col-9">{{ hint.value }}</div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
