<div class="card mb-4">
  <div class="card-body p-4">
    <!-- Title / Header -->
    <div>
      <h3 class="card-title mb-0 mx-2">Abilities</h3>
    </div>

    <!-- Abilities -->
    <hr />
    <div class="row">
      <div class="col-auto" *ngFor="let tag of tags">
        <app-check-box
          [label]="tag.name"
          [strikeable]="true"
          [disabled]="!enabledTags.has(tag.key) && getState(tag) === CheckState.off"
          [state]="getState(tag)"
          (stateChange)="setState(tag, $event)"></app-check-box>
      </div>
    </div>

    <!-- Tips -->
    <div *ngIf="showTips" [@moveIn]="'open'">
      <hr />
      <div class="row" *ngFor="let t of tipTags">
        <div class="col-4 description text-end">{{ t.name }}</div>
        <div class="col-8 description">{{ t.description }}</div>
      </div>
    </div>
  </div>
</div>
