<div class="card bg-journal">
  <div class="card-body">
    <div class="row">
      <div class="col col-8">
        <h3 class="card-title align-middle mb-0">Behavior</h3>
      </div>
      <div class="col col-4 text-end">
        <span class="clickable align-middle mx-2" (click)="reset()">
          [ Reset ]
        </span>
      </div>
    </div>
    <hr />
    <div class="row" *ngFor="let tag of tags">
      <div class="col-3" style="font-weight: bold">
        {{ tag.name }}
      </div>
      <div class="col-9">
        <div class="row">
          <div
            *ngFor="let opt of tag.options; let index = index"
            class="col-md-auto"
          >
            <app-checkbox
              [label]="opt.name"
              [checked]="this.active.has(opt.tag)"
              [strike]="null"
              (checkedChanged)="onTagUpdate(tag, opt.tag, $event)"
            ></app-checkbox>
          </div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="ghosts.length > 0 && ghosts.length <= 10">
      <hr />
      <div class="row" *ngFor="let ghost of ghosts">
        <ng-container *ngIf="ghost.hints">
          <div class="col-3" style="font-weight: bold">
            {{ ghost.name }}
          </div>
          <div class="col-9">
            <div class="row" *ngFor="let hint of ghost.hints | keyvalue">
              <div class="col">{{ hint.value }}</div>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
