<div class="content" role="main">
  <div class="p-5 d-flex flex-column align-content-center mx-auto">
    <h1 class="text-center text-light mb-4" style="font-family: 'October Crow'">
      Phasmophobia Toolbox
    </h1>

    <router-outlet></router-outlet>

    <div class="row justify-content-md-center">
      <div class="col-md-12 col-xl-6">
        <label class="text-center text-secondary">
          This page is not endorsed by Kinetic Games and doesn't reflect the
          views or opinions of Kinetic Games or anyone officially involved in
          producing or managing Phasmophobia. It is a fan made prototype and is
          most likely incorrect and definitely incomplete.
        </label>
      </div>
    </div>
  </div>
</div>
