@font-face {
  font-family: 'Lazy Dog';
  src: url('lazy_dog.ttf');
}

@font-face {
  font-family: 'October Crow';
  src: url('october_crow.ttf');
}

$font-size-base: 1.5rem;
$font-family-base: 'Lazy Dog';

.clickable {

  &.disabled {
    filter: opacity(50%);
  }

  &:not(.disabled) {
    cursor: pointer;

    &:hover {
      font-weight: bold;
    }
  }
}

.card {
  background-image: url('~src/assets/journal.png');
}