<div class="container">
  <div class="d-flex justify-content-center header text-light mb-5">
    <h1 class="text-center mx-2">Phasmophobia Ghost Identification</h1>
  </div>
  <div class="row">
    <div class="col-md-12 col-xl-5">
      <app-evidence-card
        [(filters)]="filters"
        [ghostsDisabled]="ghostsDisabled"
        [evidenceDisabled]="evidenceDisabled"></app-evidence-card>
      <app-abilities-card [(filters)]="filters" [ghostsDisabled]="ghostsExcluded"> </app-abilities-card>
    </div>
    <div class="col-md-12 col-xl-7">
      <!-- <app-behavior-card></app-behavior-card> -->
      <app-threshold-card [(filters)]="filters"></app-threshold-card>
      <app-speed-card [(filters)]="filters" [ghostsDisabled]="ghostsExcluded"></app-speed-card>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xl-5">
      <div class="text-center text-secondary">
        <p>
          Phasmophobia game version: 0.9.0.9
          <br />
          The code can be found at
          <a class="link-secondary" href="https://github.com/notgnarfodolfus/phasmo">github</a>.
          <br />
          Data is scraped manually from
          <a class="link-secondary" href="https://phasmophobia.fandom.com/wiki/Main_Page">phasmophobia.fandom.com</a>
        </p>
      </div>
    </div>
    <div class="col-md-12 col-xl-7">
      <div class="text-center text-secondary">
        <p>
          This page is not endorsed by
          <a class="link-secondary" href="https://www.kineticgames.co.uk/">Kinetic Games</a>
          and doesn't reflect the views or opinions of Kinetic Games or anyone officially involved in producing or
          managing Phasmophobia. It is a prototype, most likely incorrect and definitely incomplete.
        </p>
      </div>
    </div>
  </div>
</div>
