@import 'src/assets/style';

.config-icon {
  transition: transform .5s ease-in-out;

  &:hover {
    transform: rotate(60deg);
  }
}

.step {
  filter: opacity(50%);
  font-weight: normal;

  &.active {
    filter: opacity(100%);
    font-weight: bold;
  }
}