<div class="card mb-4">
  <div class="card-body p-4">
    <!-- Title / Header -->
    <div>
      <h3 class="card-title mb-0 mx-2">Hunt Threshold</h3>
    </div>

    <!-- Behavior selection -->
    <hr />
    <div class="row">
      <div class="col-2 fw-bold">Abilites</div>
      <div class="col-10">
        <div class="row">
          <div class="col-auto" *ngFor="let a of abilities">
            <app-check-box [label]="a.name" [state]="getState(a)" (stateChange)="setState(a, $event)"></app-check-box>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-2 fw-bold">Sanity</div>
      <div class="col-10">
        <app-slider
          [(value)]="filters.thresholdEstimation"
          (valueChange)="onChange()"
          [min]="0"
          [max]="100"
          [step]="5"
          unit="%">
        </app-slider>
      </div>
    </div>

    <!-- Tips -->
    <ng-container *ngIf="showTips">
      <hr />
      <div class="row description" *ngFor="let a of activeAbilities" [@moveIn]="'open'">
        <div class="col-3 text-end">{{ abilityToGhosts[a.name] }}</div>
        <div class="col-9">{{ a.description }}</div>
      </div>
    </ng-container>
  </div>
</div>
